<%- include('partials/header') %>

<body class="pagina-disciplinas">

    <main>
        <h2>Disciplinas Já Cursadas</h2>
        <ul>
          <% disciplinasCursadas.forEach(d => { %>
            <li><%= d %></li>
          <% }); %>
        </ul>
        <br><br>
        <h2>Disciplinas em Andamento</h2>
        <ul>
          <% disciplinasEmAndamento.forEach(d => { %>
            <li><%= d %></li>
          <% }); %>
        </ul>
        
        </div>
    </main>

</body>

<%- include('partials/footer') %>


