<%- include('partials/header') %>
<body class="pagina-inicial">
    <main>
        <h1>Bem-vindo ao Meu Portfólio!</h1>
        <p>Um espaço para apresentar minha jornada acadêmica e profissional.</p>
        <h2><%= data.nomeCompleto %></h2>
    </main>
</body>
<%- include('partials/footer') %>